<!DOCTYPE>
<html LANG="fr">
<head>
    <title>UA Messenger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
<script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script>
        $(document).ready(() => {
            const webSocket = WS.connect("ws://192.168.137.220:8888");
        const status = $("#status");
        const message = $("#message");
        const input = $("#input");

        status.html("Status: En attente");

        webSocket.on("socket/connect", function (session) {
            status.text("Successfully Connected!");
        });

        webSocket.on("socket/disconnect", function (error) {
            status.text("Disconnected for " + error.reason + " with code " + error.code);
        });

        webSocket.on("socket/connect", function (session) {

            input.find("button").on("click", () => {
                session.publish("ua/channel", input.find("input").val());
                input.find("input").val("");
            });

            //the callback function in "subscribe" is called everytime an event is published in that channel.
            session.subscribe("ua/channel", function (uri, payload) {
                message.append("<p>" + payload.data + "</p>");
            });
        });
    });
    </script>
</head>
<body>
<div id="status">Status:</div>
<div id="message"></div>
<div id="input">
    <input type="text">
    <button>Envoyer</button>
</div>
</body>
</html>